import defaultValue from "@base-cms/marko-core/utils/default-value";

$ const style = {
  "font-size": "1px",
  "line-height": "2px",
  height: "2px",
  margin: "0px",
  padding: "0px",
  "font-family": "arial,sans-serif",
  "text-align": "left",
  color: "#333",
  "background-color": "#FFFFFF",
  clear: "both",
  ...input.style,
}

<p style=style>&nbsp;</p>
